@model Capa_Datos.DIRECCION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DIRECCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OTRAS_SENAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTRAS_SENAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRITO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRITO.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DIRECCION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
